<!doctype html>

<html>

<head>
    <title>Product Project</title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-app="productApp">
    <h1>Welcome to the Project</h1>

    <main-page></main-page>

    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/directives/mainPage.js"></script>
    <script type="text/javascript" src="/scripts/directives/createForm.js"></script>
    <script type="text/javascript" src="/scripts/directives/createTable.js"></script>
    <script type="text/javascript" src="/scripts/controller/productCtrl.js"></script>
    <script type="text/javascript" src="/scripts/services/productServices.js"></script>

</body>

</html>